# Arquivo de variáveis de ambiente (SECRETO!)
# NUNCA envie este arquivo para o GitHub!
.env

# Banco de dados
# NUNCA envie seus dados para o GitHub!
db.sqlite3
*.sqlite3

# Arquivos de cache do Python
# Isso é "lixo" gerado automaticamente
__pycache__/
*.pyc
*.pyo

# Ambiente Virtual
# NUNCA envie suas bibliotecas instaladas (milhares de arquivos)
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# Arquivos de IDE (ex: VS Code, PyCharm)
.vscode/
.idea/

# Arquivos de sistema operacional (Mac e Windows)
.DS_Store
Thumbs.db