{% extends 'base.html' %}

{% block content %}
  <h2 class="mb-4">Gerenciar Categorias</h2>

  <div class="row">
      <div class="col-md-5 mb-4">
          <div class="card shadow-sm">
              <div class="card-header">
                <h3>Adicionar Nova</h3>
              </div>
              <div class="card-body">
                <form method="post" class="form-container p-0 m-0 bg-transparent border-0">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Salvar</button>
                </form>
              </div>
          </div>
      </div>

      <div class="col-md-7 mb-4">
        <div class="card shadow-sm">
            <div class="card-header">
              <h3>Minhas Categorias</h3>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for categoria in categorias %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ categoria.nome }}
                            
                            <form action="{% url 'deletar_categoria' categoria.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-danger btn-sm" onclick="return confirm('Tem certeza?');">
                                    Deletar
                                </button>
                            </form>
                        </li>
                    {% empty %}
                        <li class="list-group-item text-center text-muted">Nenhuma categoria cadastrada.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
      </div>
  </div>
{% endblock %}
